<div class="modal fade" id="addDependencyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Dependencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="dependencies/create" method="POST">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre de dependencia</label>
                        <input type="text" class="form-control" id="recipient-name" name="dependency_name"
                            placeholder="Ej: Gimnasio" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Enviar">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>