<div class="modal fade" id="addUploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar entrega</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="/upload/add/:fkTask" method="POST">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre del estudiante</label>
                        <input type="text" class="form-control" id="recipient-name" name="task_name"
                            placeholder="Ej: Juanito Sálazar" required>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group inputDnD">
                                <input type="file" class="form-control-file text-primary font-weight-bold"
                                    id="inputFile" onchange="readUrl(this)"
                                    data-title="Arrastra y suelta"
                                    name="file">
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Enviar">
            </div>

        </div>
    </div>
</div>
</div>