<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head'); %>
        <title> Uploader </title>

</head>

<body>

    <%- include('./partials/header'); %>


        <form action="/upload" method="POST" enctype="multipart/form-data">


            <div class="input-group mb-3">
                <input type="file" name="file" class="form-control">
                <button type="submit" class="input-group-text">Upload</button>
            </div>


        </form>
        <%- include('./partials/footer'); %>
</body>

</html>